includes:
    - vendor/pestphp/pest/extension.neon

parameters:
  paths:
    - src
    - tests
  level: max
  ignoreErrors:
    - '#Call to an undefined method Pest#'
  universalObjectCratesClasses:
      - PHPUnit\Framework\TestCase
  earlyTerminatingMethodCalls:
      Rudashi\FluentBuilder:
          - throwBadMethodException