parameters:
  paths:
    - src
    - tests
  level: 9
  ignoreErrors:
    - '#Call to an undefined method Pest\\Mixins\\Expectation#'
    -
        message: '#Undefined variable: \$this.*#'
        path: tests/**
  earlyTerminatingMethodCalls:
      Rudashi\FluentBuilder:
          - throwBadMethodException