---
---

@import "{{ site.theme }}";

@for $i from 1 through length($spacers) {
    $size: nth($spacers, $i); // 0, 4px, 8px, 16px, 24px, 32px, 40px
    $scale: $i - 1; // 0, 1, 2, 3, 4, 5, 6

    .z-#{$scale} {
        z-index: $scale;
    }
    .-z-#{$scale} {
        z-index: $scale * -1;
    }
    .blur-#{$scale} {
        filter: blur($size * 2);
    }
}

.h-56 {
    height: $spacer-1 * 56;
}

.w-56 {
    width: $spacer-1 * 56;
}

.position-sticky {
    position: sticky;
}

.backdrop-blur {
    backdrop-filter: blur($spacer-3);
}

.bg-gray-light-30 {
    background-color: $white-fade-30;
}

body, .markdown-body {
    font-family: "Reem Kufi", apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" ;
}

.navbar {
    top: $spacer-6;
    overflow-y: scroll;
    height: 100vh;

    &::-webkit-scrollbar {
        width: $spacer-2;
    }
    &::-webkit-scrollbar-track, &::-webkit-scrollbar-thumb {
        background: transparent;
    }

    &:hover {
        &::-webkit-scrollbar-thumb {
            background: $gray-100;
            border-radius: $exploregrid-item-border-radius;

            &:hover {
                background: $gray-500;
            }
        }
    }
}

nav ul {
    margin-top: 0;
    list-style-type: none;

    li {
        display: flex;
        flex-direction: column;
        font-size: $h5-size;
        font-weight: $font-weight-normal;

        a {
            display: flex;
            position: relative;
            color: $text-gray-dark;
            transition: .5s;
            padding-top: $em-spacer-6;
            padding-bottom: $em-spacer-6;
            padding-left: $spacer-3;

            &:hover {
                text-decoration: none;
            }

            &:before {
                content: "";
                position: absolute;
                background-color: $blue-500;
                left: -5px;
                border-radius: $em-spacer-2;
                width: $em-spacer-5;
                height: $em-spacer-5;
                transform: rotate(45deg);
                top: 42%;
                transition: .3s;
                opacity: 0;
            }

            &.active-link {
                color: $blue-500;

                &:hover {
                    padding-left: $spacer-3;
                }
            }

            &.h2:hover {
                color: $blue-500;
                padding-left: $spacer-4;
            }
        }
    }

    &.border-left {
        li {
            &:hover a {
                color: $blue-500;
                padding-left: $spacer-4;

                &:before {
                    opacity: 1;
                }

                &.active-link {
                    padding-left: $spacer-3;
                }
            }

            a.active-link:before {
                opacity: 1;
            }
        }
    }
}

h2 > a {
    margin-left: -1.1em;
}

.gradient-blue {
    background-image: linear-gradient(90deg, $blue-500, rgba(0, 0, 0, 0), $blue-500);
}