---
---

@import "{{ site.theme }}";

.position-sticky {
    position: sticky;
}

.backdrop-blur {
    backdrop-filter: blur($spacer);
}

.bg-gray-light-30 {
    background-color: $white-fade-30;
}

body, .markdown-body {
    font-family: "Reem Kufi", apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" ;
}

.navbar {
    top: 110px;
    overflow-y: scroll;
    height: 100vh;

    &::-webkit-scrollbar {
        width: $spacer;
    }
    &::-webkit-scrollbar-track, &::-webkit-scrollbar-thumb {
        background: transparent;
    }

    &:hover {
        &::-webkit-scrollbar-thumb {
            background: $gray-100;
            border-radius: $exploregrid-item-border-radius;

            &:hover {
                background: $gray-500;
            }
        }
    }
}

nav ul {
    margin-top: 0;
    list-style-type: none;

    li {
        display: flex;
        flex-direction: column;
        font-size: .925rem;
        font-weight: 400;

        a {
            display: flex;
            position: relative;
            transition: .5s;
            padding-top: .685rem;
            padding-bottom: .685rem;
            padding-left: 10px;

            &:before {
                content: "";
                position: absolute;
                background-color: orange;
                left: -5px;
                border-radius: .125rem;
                width: .5rem;
                height: .5rem;
                transform: rotate(45deg);
                top: 42%;
                transition: .3s;
                opacity: 0;
            }
        }
    }

    &.border-left {
        li:hover a {
            text-decoration: none;
            color: orange;
            padding-left: 15px;

            &:before {
                opacity: 1;
            }
        }

    }
    li a.h2:hover {
        text-decoration: none;
        color: orange;
        padding-left: 15px;
    }
}

h2 > a {
    margin-left: -1.1em;
}